#loader {
    z-index: 1001; /* anything higher than z-index: 1000 of .loader-section */
}
h1 {
    color: #EEEEEE;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}


/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,500,700');
/*font-family: 'Raleway', sans-serif;*/

/*1.Reset*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.center {
    text-align: center;
}

a, a:hover, a:link {
    text-decoration: none !important;
    text-decoration-line: none;
}


.box_title {
    margin: 30px 0;
}

.box_title::after {
    content: "_";
    width: 50px;
    color: orangered;
}

.plus_box {
    text-align: center;
    border-right: 1px dashed #999;
}

.plus_box_fix div:last-child{
    border-right: none;
}


/*COLORS*/
.orange {
    color: #e44d26;
}

.blue {
    color: #379ad6;
}

.yellow {
    color: #f3db2d;
}

.blue_2 {
    color: #00d8ff;
}

/*2.Header*/
header {
    height: 100vh;
    color: white;
    display: flex !important;
    justify-content: center;
    background: #888 url("../img/bg1.jpeg") no-repeat top;
    background-size: cover;
    /*background-attachment: fixed;*/
}



#text_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#text_logo h3 {
    font-weight: 100;
    font-size: 48px;
    padding: 5px 0;
}

#text_logo h1 {
    font-weight: bold;
    font-size: 54px;
    padding: 5px 0;
}

#text_logo button {
    font-weight: normal;
    border: none;
    background-color: orange;
    font-size: 24px;
    padding: 15px;
    margin: 10px 0;
    color: white;
}




/*3.Content*/

/*3.1.AboutMe*/

.about_container {
    display: flex;
    padding: 30px 20px;
    min-height: 80px;
}

.about_text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.about_text > h2 {
    font-size: 36px;
    padding: 0 0 10px 0;
}

.about_text > p {
    font-size: 22px;
    font-variant: small-caps;
    font-weight: 300;
    line-height: 32px;
    text-align: justify;
}

.about_img > img {
    max-width: 90%;
    max-height: 90%;
}

/*3.2.ContactMe*/
.contact {
    font-size: 42px;    
}



/*3.3.SkillBox*/
.skill_block {
    background: #fff url("../img/skill1.jpeg") bottom no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    column-count: 2;

}

.skill_box {
    display: flex;
    height: 150px;
    width: 150px;
    border: 3px solid;
    justify-content: center;
    margin: 25px;
    flex-direction: column;
    border-radius: 100%;
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

.skill_box span {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

/*3.4.Portfolio*/
.box {
    padding: 50px 0;
}
.box-item {
    float: left;
    position: relative;
    max-width: 30% !important;
    padding-bottom: 30%;
    margin: 1.66%;
    background: #888 url("../img/placeholder1.jpg") no-repeat center left ;
    background-size: cover;
    overflow: hidden;
}

.box-item:hover{
    filter: brightness(0.5);
}

/*3.5.Partner*/
.partner {
    font-size: 70px;
}

/*4.Footer*/
footer {
    font-size: 24px;
    color: white;
    background: #111;
    height: 70px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 100;
}


/*RESPONSIVE*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

 }

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {

 }

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

 }

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

 }




